.excalidraw .excalidraw-canvas foreignObject div {
    font-family: "Vazirmatn", "Vazir", "Tahoma", "Arial", sans-serif !important;
    direction: rtl !important;
    unicode-bidi: embed !important;
    font-size: 18px !important;
    